APP_NAME=Medirator API
ENV=development
DEBUG=true
API_V1_PREFIX=/api/v1
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.example.mongodb.net/medirator_db?retryWrites=true&w=majority
MONGO_DB_NAME=medirator_db
REDIS_URL=redis://localhost:6379/0
JWT_SECRET_KEY=change-this-super-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=14
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=30
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,https://medirator.netlify.app
RATE_LIMIT_PER_MINUTE=120
FAILED_LOGIN_LIMIT=5
BLOCK_DURATION_MINUTES=30

GEMINI_API_KEY=your_gemini_api_key
XRAYAS_MODEL_PATH=models/chest_xray_model_full.pkl
HUGGINGFACE_HUB_TOKEN=your_hf_token

XRAY_MODEL_URL=https://huggingface.co/AbdulRehman142/medirator_models/resolve/main/chest_xray_model_full.pkl
SYMPTOM_MODEL_URL=https://huggingface.co/AbdulRehman142/medirator_models/resolve/main/symptom_model.pkl
SYMPTOMS_LIST_URL=https://huggingface.co/AbdulRehman142/medirator_models/resolve/main/symptoms_list.pkl
LABEL_ENCODER_URL=https://huggingface.co/AbdulRehman142/medirator_models/resolve/main/label_encoder.pkl
