fastapi
uvicorn[standard]
motor
pymongo
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
redis
httpx
email-validator
certifi
Pillow
pypdf
pytesseract
